---
import Layout from "../../layouts/Layout.astro";
import NavSection from "../../components/NavSection.astro";
---

<Layout title="Avido de privacidad">
  <div class="container-lg py-7">
    <h1 class="mb-8">Blog</h1>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Entendiendo la importancia de la prenómina: La clave para una gestión laboral eficiente</h3>
              <p class="card-text">En el mundo de la gestión empresarial, cada detalle cuenta. Uno de los aspectos fundamentales para mantener el orden y la transparencia en las relaciones laborales es la prenómina.</p>
              <a href="/blog/posts/entendiendo-la-importancia-de-la-prenomina-la-clave-para-una-gestion-laboral-eficiente" class="btn btn-primary">Ver más...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
