---

---

<div class="d-none d-xl-block position-absolute top-10 start-0 transform translate-x-n1/2 w-64 h-64 svg-fluid text-white opacity-20">
  <svg viewBox="0 0 232 168" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="228" cy="164" r="4" transform="rotate(180 228 164)" fill="currentColor"></circle>
    <circle cx="228" cy="132" r="4" transform="rotate(180 228 132)" fill="currentColor"></circle>
    <circle cx="228" cy="100" r="4" transform="rotate(180 228 100)" fill="currentColor"></circle>
    <circle cx="228" cy="68" r="4" transform="rotate(180 228 68)" fill="currentColor"></circle>
    <circle cx="228" cy="36" r="4" transform="rotate(180 228 36)" fill="currentColor"></circle>
    <circle cx="228" cy="4" r="4" transform="rotate(180 228 4)" fill="currentColor"></circle>
    <circle cx="196" cy="164" r="4" transform="rotate(180 196 164)" fill="currentColor"></circle>
    <circle cx="196" cy="132" r="4" transform="rotate(180 196 132)" fill="currentColor"></circle>
    <circle cx="196" cy="100" r="4" transform="rotate(180 196 100)" fill="currentColor"></circle>
    <circle cx="196" cy="68" r="4" transform="rotate(180 196 68)" fill="currentColor"></circle>
    <circle cx="196" cy="36" r="4" transform="rotate(180 196 36)" fill="currentColor"></circle>
    <circle cx="196" cy="4" r="4" transform="rotate(180 196 4)" fill="currentColor"></circle>
    <circle cx="164" cy="164" r="4" transform="rotate(180 164 164)" fill="currentColor"></circle>
    <circle cx="164" cy="132" r="4" transform="rotate(180 164 132)" fill="currentColor"></circle>
    <circle cx="164" cy="100" r="4" transform="rotate(180 164 100)" fill="currentColor"></circle>
    <circle cx="164" cy="68" r="4" transform="rotate(180 164 68)" fill="currentColor"></circle>
    <circle cx="164" cy="36" r="4" transform="rotate(180 164 36)" fill="currentColor"></circle>
    <circle cx="164" cy="4" r="4" transform="rotate(180 164 4)" fill="currentColor"></circle>
    <circle cx="132" cy="164" r="4" transform="rotate(180 132 164)" fill="currentColor"></circle>
    <circle cx="132" cy="132" r="4" transform="rotate(180 132 132)" fill="currentColor"></circle>
    <circle cx="132" cy="100" r="4" transform="rotate(180 132 100)" fill="currentColor"></circle>
    <circle cx="132" cy="68" r="4" transform="rotate(180 132 68)" fill="currentColor"></circle>
    <circle cx="132" cy="36" r="4" transform="rotate(180 132 36)" fill="currentColor"></circle>
    <circle cx="132" cy="4" r="4" transform="rotate(180 132 4)" fill="currentColor"></circle>
    <circle cx="100" cy="164" r="4" transform="rotate(180 100 164)" fill="currentColor"></circle>
    <circle cx="100" cy="132" r="4" transform="rotate(180 100 132)" fill="currentColor"></circle>
    <circle cx="100" cy="100" r="4" transform="rotate(180 100 100)" fill="currentColor"></circle>
    <circle cx="100" cy="68" r="4" transform="rotate(180 100 68)" fill="currentColor"></circle>
    <circle cx="100" cy="36" r="4" transform="rotate(180 100 36)" fill="currentColor"></circle>
    <circle cx="100" cy="4" r="4" transform="rotate(180 100 4)" fill="currentColor"></circle>
    <circle cx="68" cy="164" r="4" transform="rotate(180 68 164)" fill="currentColor"></circle>
    <circle cx="68" cy="100" r="4" transform="rotate(180 68 100)" fill="currentColor"></circle>
    <circle cx="68" cy="68" r="4" transform="rotate(180 68 68)" fill="currentColor"></circle>
    <circle cx="68" cy="36" r="4" transform="rotate(180 68 36)" fill="currentColor"></circle>
    <circle cx="68" cy="4" r="4" transform="rotate(180 68 4)" fill="currentColor"></circle>
    <circle cx="36" cy="164" r="4" transform="rotate(180 36 164)" fill="currentColor"></circle>
    <circle cx="36" cy="68" r="4" transform="rotate(180 36 68)" fill="currentColor"></circle>
    <circle cx="36" cy="36" r="4" transform="rotate(180 36 36)" fill="currentColor"></circle>
    <circle cx="36" cy="4" r="4" transform="rotate(180 36 4)" fill="currentColor"></circle>
    <circle cx="4" cy="100" r="4" transform="rotate(180 4 100)" fill="currentColor"></circle>
    <circle cx="4" cy="68" r="4" transform="rotate(180 4 68)" fill="currentColor"></circle>
    <circle cx="4" cy="36" r="4" transform="rotate(180 4 36)" fill="currentColor"></circle>
    <circle cx="4" cy="4" r="4" transform="rotate(180 4 4)" fill="currentColor"></circle>
  </svg>
</div>
