---

---

<div class="d-none d-xl-block position-absolute top-0 end-0 transform translate-x-1/2 translate-y-n1/2 w-80 h-80 svg-fluid text-white opacity-10">
  <svg viewBox="0 0 232 168" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="4" cy="4" r="4" fill="currentColor"></circle>
    <circle cx="4" cy="36" r="4" fill="currentColor"></circle>
    <circle cx="4" cy="68" r="4" fill="currentColor"></circle>
    <circle cx="4" cy="100" r="4" fill="currentColor"></circle>
    <circle cx="4" cy="132" r="4" fill="currentColor"></circle>
    <circle cx="4" cy="164" r="4" fill="currentColor"></circle>
    <circle cx="36" cy="4" r="4" fill="currentColor"></circle>
    <circle cx="36" cy="36" r="4" fill="currentColor"></circle>
    <circle cx="36" cy="68" r="4" fill="currentColor"></circle>
    <circle cx="36" cy="100" r="4" fill="currentColor"></circle>
    <circle cx="36" cy="132" r="4" fill="currentColor"></circle>
    <circle cx="36" cy="164" r="4" fill="currentColor"></circle>
    <circle cx="68" cy="4" r="4" fill="currentColor"></circle>
    <circle cx="68" cy="36" r="4" fill="currentColor"></circle>
    <circle cx="68" cy="68" r="4" fill="currentColor"></circle>
    <circle cx="68" cy="100" r="4" fill="currentColor"></circle>
    <circle cx="68" cy="132" r="4" fill="currentColor"></circle>
    <circle cx="68" cy="164" r="4" fill="currentColor"></circle>
    <circle cx="100" cy="4" r="4" fill="currentColor"></circle>
    <circle cx="100" cy="36" r="4" fill="currentColor"></circle>
    <circle cx="100" cy="68" r="4" fill="currentColor"></circle>
    <circle cx="100" cy="100" r="4" fill="currentColor"></circle>
    <circle cx="100" cy="132" r="4" fill="currentColor"></circle>
    <circle cx="100" cy="164" r="4" fill="currentColor"></circle>
    <circle cx="132" cy="4" r="4" fill="currentColor"></circle>
    <circle cx="132" cy="36" r="4" fill="currentColor"></circle>
    <circle cx="132" cy="68" r="4" fill="currentColor"></circle>
    <circle cx="132" cy="100" r="4" fill="currentColor"></circle>
    <circle cx="132" cy="132" r="4" fill="currentColor"></circle>
    <circle cx="132" cy="164" r="4" fill="currentColor"></circle>
    <circle cx="164" cy="4" r="4" fill="currentColor"></circle>
    <circle cx="164" cy="68" r="4" fill="currentColor"></circle>
    <circle cx="164" cy="100" r="4" fill="currentColor"></circle>
    <circle cx="164" cy="132" r="4" fill="currentColor"></circle>
    <circle cx="164" cy="164" r="4" fill="currentColor"></circle>
    <circle cx="196" cy="4" r="4" fill="currentColor"></circle>
    <circle cx="196" cy="100" r="4" fill="currentColor"></circle>
    <circle cx="196" cy="132" r="4" fill="currentColor"></circle>
    <circle cx="196" cy="164" r="4" fill="currentColor"></circle>
    <circle cx="228" cy="68" r="4" fill="currentColor"></circle>
    <circle cx="228" cy="100" r="4" fill="currentColor"></circle>
    <circle cx="228" cy="132" r="4" fill="currentColor"></circle>
    <circle cx="228" cy="164" r="4" fill="currentColor"></circle>
  </svg>
</div>
