---
import { Image } from "astro:assets";
import nntclogo from "../assets/nntc-logo.png";
---

<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-0 py-3 fixed-top1">
  <div class="container-xl max-w-screen-xl">
    <!-- Logo -->
    <div class="navbar-brand">
      <Image src={nntclogo} alt="nntc logo" width="40" />
    </div>
    <!-- Navbar toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <!-- Nav -->
      <ul class="navbar-nav mx-lg-auto">
        <li class="nav-item">
          <a class="nav-link" href="/#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#caracteristicas">Características</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#dispositivos">Dispositivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .fixed-top1 {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
</style>